<div class="container">
  <div class="row my-5">
    <div class="col-md-8">
      <div class="clip_contents">
        <div class="new_clip">
          <%= link_to ' + ', new_clip_path, class: 'btn btn-md btn-outline-primary' %>
        </div>
        <ul class="clip_lists">
          <% @clips.each do |clip| %>
            <li class="clip_item d-flex flex-wrap">
              <div class="clip_img">
                <div style="width:60px;"><img src="https://img.youtube.com/vi/<%= clip.video_id %>/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></img></div>
                <div class="clip_date">クリップ作成日</div>
                <div class="clip_time">クリップの時間</div>
              </div>
              <div class="list_item">
                <h6 class="list_title"><%= clip.title %></h6>
                <div class="clip_data">
                  <div class="channel_name">チャンネル</div>
                  <div class="clip_user">製作者</div>
                  <div class="tag_list">タグ</div>
                  <div class="item_data">
                    <ul><li class="video_date">元登校日</li><li class="favorites">いいね</li></ul>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="clip_container">
        <% @clips.each do |clip| %>
          <div class="clip_box">
            <div style="width:60px;"><img src="https://img.youtube.com/vi/<%= clip.video_id %>/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></img></div>
            <div><h6><%= clip.title %></h6></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      playlist
    </div>

    <div class="test mt-5 p-3 card">
      <h5>test用</h5>
      <%= form_with url: "/clips",method: :get, class: "" do |f| %>
        <%= f.text_field :url, required: true %>
        <button title="検索" type="submit" class="px-2">検索</button>
      <% end %></br>
      <%= @video_id %></br>
      <%= @url %></br>
      <%= @published_at %></br>
      <%= @channel_title %></br>
      <%= @channel_url %></br>
      <div style="width:60px;"><img src="https://img.youtube.com/vi/<%= @video_id %>/default.jpg"></img></div>
    </div>

  </div>
</div>