<div class="container">
  <div class="row my-5">
    <div class="col-md-9">

      <div>
        <% if @user == current_user %>
          <h3>マイページ</h3>
        <% else %>
          <h3><%= @user.name %></h3>
        <% end %>
      </div>
      <div class="clip_contents">
        <% if user_signed_in? %>
          <div class="new_clip">
            <%= link_to ' + ', new_clip_path, class: 'btn btn-md px-4 mb-3 btn-outline-primary' %>
          </div>
        <% end %>
      </div>
      <div id="user_content_box">
        <%= render 'user/users/clips_list', clips: @clips %>
      </div>
    </div>

    <div class="col-md-3">

      <ul id="accordion_menu">
        <% if @user == current_user %>
          <li><%= link_to 'クリップ', user_path(id: @user.id, template: 'clips_list'), class: 'accordion_title', remote: true %></li>
          <li><a class="accordion_title" data-toggle="collapse" href="#menu01" aria-controls="#menu01" aria-expanded="false">プレイリスト</a></li>
          <ul id="menu01" class="collapse" data-parent="#accordion_menu">
            <li><a href="#">リンクサブメニュー1-1</a></li>
            <li><a href="#">リンクサブメニュー1-2</a></li>
            <li><a href="#">リンクサブメニュー1-3</a></li>
          </ul>
          <li><%= link_to 'ユーザー情報', user_path(id: @user.id, template: 'user'), remote: true, class: 'accordion_title' %></li>
        <% end %>
          <li>
            <a class="accordion_title" data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false">リンクメニュー２</a>
          </li>
          <ul id="menu02" class="collapse" data-parent="#accordion_menu">
            <li><a href="#">リンクサブメニュー2-1</a></li>
            <li><a href="#">リンクサブメニュー2-2</a></li>
            <li><a href="#">リンクサブメニュー2-3</a></li>
          </ul>
          <div class="accordion_title">

          </div>
      </ul>

    </div>
  </div>
</div>