<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5>登録プレイリスト clipId<span id="checkID"></span></h5>
    </div>
    <div class="modal-body">
      <%#= playlists.each do |pl| %>
        <%# if clip %>
          <%# if pl.playlist_by?(pl) %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: selectedClipId), class: 'text-danger', method: :delete, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: clip.id), class: 'text-danger', method: :delete, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clipId), class: 'text-danger', method: :delete, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: { clip_id: clipId }), class: 'text-danger', method: :delete, remote: true do %>
               <!--♥ <%#= pl.name %>-->
            <%# end %>
          <%# else %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: selectedClipId), class: 'text-primary', method: :post, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: clip.id), class: 'text-primary', method: :post, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clipId), class: 'text-primary', method: :post, remote: true do %>
            <%#= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: { clip_id: clipId }), class: 'text-primary', method: :post, remote: true do %>
               <!--♥ <%#= pl.name %>-->
            <%# end %>
          <%# end %>
        <%# end %>

      <%= form_with(url: playlist_playlist_videos_path(playlists), method: :post) do |f| %>
        <%= f.hidden_field :clip_id, id: 'hidden_field_id' %>
        <% playlists.each do |pl| %>
          <div>
            <%= hidden_field_tag 'playlist_ids[]', pl.id %>
            <%= check_box_tag "playlist_id_#{pl.id}", pl.id %>
            <%= label_tag "playlist_id_#{pl.id}", pl.name %>
          </div>
        <% end %>
        <%= f.submit "追加" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%#= form_with model: playlist_new, local: false, class: "" do |f| %>
      <%= form_with(model: @playlist_new, url: playlists_path(user_id: current_user.id), class: "") do |pn| %>
        <%= pn.text_field :name, name: "playlist[name]", required: true, autocomplete: "新しいプレイリスト" %>
        <%= pn.submit "作成" %>
      <% end %>
    </div>
  </div>
</div>
