<div class="modal-dialog">
  <!--<div class="modal-content">-->
  <!--  <div class="modal-header">-->
  <!--    <h4 class="modal-title" id="myModalLabel">削除確認画面</h4>-->
  <!--  </div>-->
  <!--  <div class="modal-body">-->
  <!--    <label>データを削除しますか？</label>-->
  <!--  </div>-->
  <!--  <div class="modal-footer">-->
  <!--    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>-->
  <!--    <button type="button" class="btn btn-danger">削除</button>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="modal-content">
    <div class="modal-header">
      <h5>登録プレイリスト</h5>
    </div>
    <div class="modal-body">
      <%= playlists.each do |pl| %>
        <% if pl.playlist_by?(pl) %>
          <%= link_to user_playlist_playlist_videos_path(playlist_id: pl.id, clip_id: clip), class: 'text-danger', method: :delete, remote: true do %>
            ♥ <%= pl.name %>
          <% end %>
        <% else %>
          <%= link_to user_playlist_playlist_videos_path(pl.id), class: 'text-primary', method: :post, remote: true do %>
            ♥ <%= pl.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%#= form_with model: playlist_new, local: false, class: "" do |f| %>
      <%= form_with(model: @playlist_new, url: user_playlists_path(user_id: current_user.id), class: "") do |f| %>
        <%= f.text_field :name, name: "playlist[name]", required: true, autocomplete: "新しいプレイリスト" %>
        <%= f.submit "作成" %>
      <% end %>
    </div>
  </div>
</div>
