<div class="container">
  <div class="row my-5">

    <div class="col-md-9">
      <div class="movie_center" style="position: relative; height:0px; width: 100%; padding-top: 56.25%;">
				<div id="movie-play" style="position: absolute; top: 0; left: 0;"></div>
			</div>

      <div class="clip_date"><p class="mb-0" style="font-size:9px;">クリップ作成日:<%= @clip.created_at.strftime('%Y/%m/%d') %></p></div>
      <div class="clip_time"><p class="mb-1" style="font-size:9px;">クリップの時間:
          <% if @clip.end_time %>
            <%= (@clip.end_time.to_i - @clip.start_time.to_i) %>
          <% end %>
        </p>
      </div>
      <%= @clip.title %>
      <div class="channel_name"><p class="mb-0" style="font-size:14px;">チャンネル: <a href="https://www.youtube.com/channel/<%= @clip.channel.yt_channel_id %>" class=""><%= @clip.channel.name %></a></p></div>
      <div class="video_date"><p class="mb-0" style="font-size:12px;">投稿日: <%= @clip.published_at.strftime('%Y/%m/%d') %></p></div>
      <div class="tag_list">
        <ul class="list-group list-group-horizontal list-unstyled" style="font-size:14px;">
          <p class="mb-0">タグ:</p><li class="clip_tag ml-1 mr-2 mb-0">test</li>
        </ul>
      </div>
      <div class="item_data">
        <ul class="list-group list-group-horizontal list-unstyled" style="font-size:12px;">
          <li class="clip_user mr-3">クリップ者:
            <%= link_to user_path(@clip.user_id) do %>
              <%= @clip.user.name %>
            <% end %>
          </li>
          <li class="mr-5" id="favorite_btn_<%= @clip.id %>"><%= render 'user/favorites/favorite_btn', clip: @clip %></li>
          <li class="add_to_playlist">
            <%#= link_to %>
            <i class="fas fa-folder-plus"></i>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>



<script>
//IFrame Player APIを呼び出す
  const tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  const firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

//プレーヤーの準備
// 	var ytNum = 0;
	let thumbInsert = '';
	let ytPlayer;
// 	let ytData = [
// 	  //{ youtubeのID, 開始時間(秒), 終了時間(秒) },
// 	    { id: '<%= @clip.video_id %>', start: '<%= @clip.start_time %>', end: '<%= @clip.end_time %>' }
// 	];

// 動画プレーヤーの読み込み
// 	window.onYouTubeIframeAPIReady = function() {
	function onYouTubeIframeAPIReady() {
    ytPlayer = new YT.Player('movie-play', {
      width: '100%',
      height: '100%',
      videoId: '<%= @clip.video_id %>',
			playerVars:{
				rel: 0, //関連動画なし
				modestbranding: 1, //YouTube ロゴなし
				start: '<%= @clip.start_time %>',
				end: '<%= @clip.end_time %>',
			},
			events: { /* イベント */
  //       'onReady': onPlayerReady,   /* プレーヤの準備完了時 */
  //       'onStateChange': onPlayerStateChange   /* 動画プレーヤーのステータス変更 */
      }
    });
    // spotArea(ytNum);
  }
	//動画の再生
	function onPlayerReady(event) {
    event.target.playVideo();
  }
	function play(ytNum) {
		ytPlayer.loadVideoById({
			'videoId': ytData[ytNum]['id'],
      'startSeconds': ytData[ytNum]['start'],
      'endSeconds': ytData[ytNum]['end'],
      'suggestedQuality': 'medium',
			'rel': 0, //関連動画なし
			'modestbranding': 1,
		});
		// spotArea(ytNum);
	}

</script>